@import "tailwindcss";

@import '../styles/colors.module.scss';
@import '../styles/spacing.module.scss';
@import '../styles/typography.module.scss';

/* Tailwind → CSS variable bridge */
@theme inline {
  --color-background: var(--surface-bg);
  --color-foreground: var(--surface-text);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);

  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);

  --color-gray-black: var(--gray-black);
  --color-gray-dark: var(--gray-dark);
  --color-gray-medium: var(--gray-medium);
  --color-gray-light: var(--gray-light);

  /* --font-inter: var(--font-inter);

  --font-base: var(--text-base);
  --leading-tight: var(--leading-tight);
  --leading-normal: var(--leading-normal);
  --leading-relaxed: var(--leading-relaxed);
  --text-5xl: var(--text-5xl);
  --text-4xl: var(--text-4xl);
  --text-3xl: var(--text-3xl);
  --text-2xl: var(--text-2xl);
  --text-xl: var(--text-xl);
  --text-lg: var(--text-lg);
  --text-md: var(--text-md);
  --text-sm: var(--text-sm);
  --text-xs: var(--text-xs);
  --text-xxs: var(--text-xxs);

  --space-xxs: var(--space-xxs);
  --space-xs: var(--space-xs);
  --space-sm: var(--space-sm);
  --space-md: var(--space-md);
  --space-lg: var(--space-lg);
  --space-xl: var(--space-xl);
  --space-2xl: var(--space-2xl);
  --space-3xl: var(--space-3xl); */
}

/* Element defaults */
body {
  background: var(--surface-bg);
  color: var(--surface-text);
  font-family: var(--font-inter);
  font-size: var(--text-base);
  line-height: var(--leading-normal);
}

h1 {
  font-size: var(--text-5xl);
  line-height: var(--leading-tight);
  font-weight: 700;
}

h2 {
  font-size: var(--text-4xl);
  line-height: var(--leading-tight);
  font-weight: 600;
}

h3 {
  font-size: var(--text-2xl);
  font-weight: 600;
}

p, a {
  font-size: var(--text-sm);
  line-height: var(--leading-relaxed);
}

.btn-primary {
  color: var(--color-secondary);
  font-weight: 600;
  cursor: pointer;
}

.btn-primary:hover {
  color: var(--color-secondary-hover);
}

.btn-primary:active {
  transform: translateY(1px);
}

.action-primary {
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-text);
  transition: background-color 0.2s ease, opacity 0.2s ease;
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.action-primary:hover {
  background-color: var(--btn-primary-hover);
  color: var(--btn-primary-text);
}

.action-primary:active {
  transform: translateY(1px);
}
