@import "tailwindcss";

:root {
  --background: #fffef4;
  --foreground: #323231;
  --real-white: #ffffff;
  --floral-white: #fffef4;
  --light-brown: #c4a47c;
  --brown: #97764f;
  --dark-brown: #65492d;
  --dark-gray: #323231;
  --light-gray: #e0e0e0;
  --dark-gray: #323231;
  --text-base: 16px;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-tight: 1.25;
  --text-5xl: 2.5rem;
  --text-4xl: 2rem;
  --text-3xl: 1.875rem;
  --text-2xl: 1.5rem;
  --text-xl: 1.25rem;
  --text-lg: 1.125rem;
  --text-md: 1rem;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;
  --text-xxs: 0.625rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-inter);
  font-size: var(--text-base);
  line-height: var(--leading-normal);
}

h1 {
  font-size: var(--text-5xl);
  line-height: var(--leading-tight);
  font-weight: 700;
}

h2 {
  font-size: var(--text-4xl);
  line-height: var(--leading-tight);
  font-weight: 600;
}

h3 {
  font-size: var(--text-2xl);
  font-weight: 600;
}

p {
  font-size: var(--text-sm);
  line-height: var(--leading-relaxed);
}
